.error-bar {
    display: flex;
    border-radius: 8px;
    background-color: #F8D7DA;
    border: 1px solid #F5C2C7;
    height: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-text {
    color: #A22029;
    font-size: small;
    font-weight: normal;
}